{% extends 'base.html'%}

{% block content %}
<h2>hey {{name}}</h2>

<form action="add" method="post">
	{% csrf_token %}
	num1:<input type="text" name="num1"><br>
	num2:<input type="text" name="num2"><br>
	<input type="submit" name="submit">
	
</form>

{% endblock %}