<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
</head>
<body>
	<form action="login" method="POST">
	{% csrf_token %}	
	<input type="text" name="user_name" placeholder="User name"><br>
	<input type="password" name="password" placeholder="password"><br>
	<input type="submit" name="Sign in" value="log in">
	</form>
    <div>
		{% for msg in messages %}
		<h3>{{msg}}</h3>
	     {% endfor %}
	</div>
</body>
</html>