<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form action="registration" method="post">
	{% csrf_token %}	
	<input type="text" name="first_name" placeholder="first_name"><br>
	<input type="text" name="last_name" placeholder="last_name"><br>
	<input type="text" name="user_name" placeholder="user_name"><br>
	<input type="email" name="email" placeholder="email"><br>
	<input type="password" name="password1" placeholder="password"><br>
	<input type="password" name="password2" placeholder="Confirm password"><br>
	<input type="submit" name="Sign up" value="Sign Up">
	</form>
	<div>
		{% for msg in messages %}
		<h3>{{msg}}</h3>
	     {% endfor %}
	</div>
</body>
</html>